{
  "extends": "airbnb",
  "env": {
    "es6": true
  },
  "globals": {
    "fetch": false
  },
  "parser": "babel-eslint",
  "rules": {
    "arrow-parens": "off",
    "comma-dangle": "off",
    "keyword-spacing": "off",
    "no-nested-ternary": "off",
    "no-underscore-dangle": "off",
    "no-use-before-define": "off",
    "no-mixed-operators": "off",

    "import/extensions": "off",
    "import/first": "off",

    "react/jsx-wrap-multilines": "off",
    "react/jsx-filename-extension": "off"
  }
}
