{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "no-use-before-define": ["error", { "variables": false }],
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "react/prop-types": "off",
  },
  "globals": {
    "it": false,
    "expect": false
  }
}
